.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  @extend .flex-row;
  justify-content: center;
}

.flex-row-space-around {
  @extend .flex-row;
  justify-content: space-around;
}

.flex-row-space-between {
  @extend .flex-row;
  justify-content: space-between;
}